.cards {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}
.cardWrapper {
    list-style: none;
    width: 250px;
    align-items: center;
    margin: 20px;
}

.imgWrapper {
    width: 268px;
    height: 274px;
    overflow: hidden;
    border-radius: 14px;
}

/* .imgCar {
    display: block;
    width: auto;
    height: 274px;
    object-fit: cover;
} */
