.cards {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}
.cardWrepper {
    list-style: none;
    width: 250px;
    align-items: center;
    margin: 10px;
}

.imgWrapper {
    width: 268px;
    height: 274px;
    overflow: hidden;
}

.imgCar {
    width: auto;
    height: 274px;
}
