.SharedLayout {
    background: linear-gradient(to bottom,
    #0B44CD,
        #3470FF);
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    border-radius: 12px 12px 0 0;
}

.NavLink {
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-weight: bold;
}